body{
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper{
  max-width: 1000px;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER
================================= */
.header{
  display: flex;
  background-color: #8FBC8F;
  min-height: 85px;
  justify-content: space-evenly;
  align-content: space-evenly;
  flex-wrap: wrap;
  padding: 5px;
}

.head{
  display:flex;
  flex-basis: 2000px;
  min-height: 50px;
  color: #F0F8FF;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  
}

.button{
  display: flex;
  min-height: 40px;
  max-height: 40px;
  min-width: 125px;
  margin: 5px;
  font-size: 18px;
  background-color: #F4F4F4;
  border-radius: 25px;
  justify-content: center;
  align-content: center;
  align-items: center;
}

/* MAIN
================================= */
.main{
  display: flex;
  background-color: #4682B4;
  min-height: 420px;
  gap: 20px;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
}

.head-main{
  display:flex;
  flex-basis: 2000px;
  min-height: 55px;
  color: #F0F8FF;
  justify-content: center;
  align-items: center;
  font-size: 45px;
}

.window{
  display: flex;
  height: 80px;
  width: 185px;
  font-size: 50px;
  background-color: #3333B6;
  color: #F0F8FF;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* FOOTER
================================= */ 
.footer{
  background-color: #87CEEB;
  min-height: 73px;
  display: flex;
  justify-content: space-evenly;
  align-content: space-evenly;
  flex-wrap: wrap;
  padding: 5px;
}

.head-footer{
  display:flex;
  min-height: 50px;
  color: #F0F8FF;
  justify-content: center;
  align-items: center;
  font-size: 45px;
}
